:root{
  --theme-color: rgb(119, 203, 126);
  /* --theme-color-second:rgb(212, 242, 214); */
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar{
  width:5px;
}
::-webkit-scrollbar-track{
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(156, 155, 155);
}